parseUrl rejects non-lowercase URI schemes

According to [section 3.1 of RFC 3986](https://tools.ietf.org/html/rfc3986#section-3.1), this behaviour is incorrect:

> Although _schemes are case-insensitive_, the canonical form is lowercase and documents that specify schemes must do so with lowercase letters.

```
h> parseUrl "HTTP://localhost"
*** Exception: InvalidUrlException "HTTP://localhost" "Invalid scheme"
```
