urlEncodedBody does not set content-length

Hi, I'm new to haskell, so may have this wrong, but I was hacking up an API client that wants a POST to get an oauth token - using parseUrl + urlEncodedBody + httpLbs, I got this error below, but the short version is that content-length is required for POST requests (RFC 2616 section 4.4 paragraph after clause 5).

auth.hs: StatusCodeException (Status {statusCode = 411, statusMessage = "Length Required"}) [("Date","Sat, 24 Jan 2015 09:55:10 GMT"),("Server","squid/2.7.STABLE7"),("Content-Type","text/html"),("X-Squid-Error","ERR_INVALID_REQ 0"),("X-Cache","MISS from nutmeg.canonical.com"),("X-Cache-Lookup","NONE from nutmeg.canonical.com:3128"),("Via","1.0 nutmeg.canonical.com:3128 (squid/2.7.STABLE7)"),("Vary","Accept-Encoding"),("Content-Encoding","gzip"),("Content-Length","1081"),("Connection","close"),("X-Response-Body-Start","<!DOCTYPE html PUBLIC \"-//W3C//DTD HTML 4.01//EN\" \"http://www.w3.org/TR/html4/strict.dtd\"> <html><head> <meta http-equiv=\"Content-Type\" content=\"text/html; charset=utf-8\"> <title>ERROR: The requested URL could not be retrieved</title> <style type=\"text/css\"><!--   %l  body :lang(fa) { direction: rtl; font-size: 100%; font-family: Tahoma, Roya, sans-serif; float: right; } :lang(he) { direction: rtl; }  --></style> </head><body id=ERR_INVALID_REQ> <div id=\"titles\"> <h1>ERROR</h1> <h2>The requested URL could not be retrieved</h2> </div> <hr>  <div id=\"content\"> <p><b>Invalid Request</b> error was encountered while trying to process the request:</p>  <blockquote id=\"data\"> <pre>GET /+request-token HTTP/1.1\nHost: launchpad.net\r\nAccept-Encoding: gzip\r\nX-SCHEME: https\r\nX-Forwarded-For: 125.239.124.167\r\nX-Forwarded-Host: launchpad.net\r\nX-Forwarded-Server: launchpad.net\r\nConnection: Keep-Alive\r\nContent-Length: 79\r\n</pre> </blockquote>  <p>Some possible problems are:</p> <ul> <li id=\"missing-method\"><p>Missing or unknown request method.</p></li> <li id=\"missing-url\"><p>Missing URL.</p></li> <li id=\"missing-protocol\"><p>Missing HTTP Identifier (HTTP/1.0).</p></li> <li><p>Request is too large.</p></li> <li><p>Content-Length missing for POST or PUT requests.</p></li> <li><p>Illegal character in hostname; underscores are not allowed.</p></li> <li><p>HTTP/1.1 <q>Expect:</q> feature is being asked from an HTTP/1.0 software.</p></li> </ul>  <p>Your cache administrator is <a href=\"mailto:webmaster%W\">webmaster</a>.</p> <br> </div>  <script language=\"javascript\"> if ('GET' != '[unknown method]') document.getElementById('missing-method').style.display = 'none'; if ('http://launchpad.net:443/+request-token' != '[no URL]') document.getElementById('missing-url').style.display = 'none'; if ('http' != '[unknown protocol]') document.getElementById('missing-protocol').style.display = 'none'; </script>  <hr> <div id=\"footer\"> <p>Generated Sat, 24 Jan 2015 09:55:10 GMT by nutmeg.canonical.com (squid/2.7.STABLE7)</p> <!-- ERR_INVALID_REQ --> </div> </body></html> "),("X-Request-URL","GET https://launchpad.net:443/+request-token")] (CJ {expose = []})


Hah, ignore this, pure PEBKAC. (req3 != req2...)